  /* ===== Card CSS ===== */

  .card {
      float: left;
      padding: 5px 40px;
      height: 280px;
      width: 295px;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      border: 1px solid #2c684b;
  }

  .card>.container>.card-title {
      color: #2c7853;
      text-align: center;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
  }

  .card>.container>.tag-container>.tag {
      color: #fff;
      background-color: #25a72c;
      float: left;
      margin-right: 5px;
      padding: 5px;
      margin-bottom: 5px;
  }