  /* ===== Header CSS ===== */

  .header-container {
      margin-top: 30px;
  }

  .header-container>.header-title {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
  }

  .header-container>.header-title>h1 {
      text-align: center;
      cursor: pointer;
  }

  .header-container>h2 {
      font-size: 23px;
      text-align: center;
      color: #2c7853;
      font-weight: normal;
  }

  .header-container>h2>a {
      color: rgb(175, 74, 137);
      padding: 0px;
  }