  /* ===== Index CSS ===== */

  body {
      font-family: source-code-pro, Consolas, monospace;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: #e3f0e4;
      cursor: default;
  }

  .right-container {
      width: 800px;
      padding: 0px 20px;
      margin-top: 20px;
  }

  .right-container>h3 {
      text-align: right;
      margin: 0px;
  }

  .left-container {
      width: 800px;
      padding: 0px 20px;
  }

  .left-container>h3 {
      margin: 0px;
      margin-top: 20px;
  }

  a {
      cursor: pointer;
      color: rgb(175, 74, 137)
  }

  a:hover {
      background-color: #fbbeeb;
      cursor: pointer;
  }

  h1 {
      font-family: monospace;
      letter-spacing: 2px;
      font-size: 35px;
      color: #2c7853;
      font-weight: normal;
  }

  h2 {
      font-size: 23px;
      color: #2c7853;
      letter-spacing: 1px;
      font-weight: normal;
  }

  h3 {
      font-size: 18px;
      color: #2c7853;
      letter-spacing: 0.5;
      font-weight: normal;
  }

  h4 {
      color: #2c7853;
      font-family: monospace;
      font-weight: normal;
      font-size: 16px;
  }

  code {
      color: #2c7853;
      font-size: 16px;
  }

  /* ===== Project Pages' CSS ===== */

  .project-container {
      position: absolute;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, 0%);
  }

  .project-container>.explanation-container>ul>li {
      font-family: Consolas;
      color: #2c7853;
      letter-spacing: 0.5;
      font-size: 18px;
  }

  .project-container>h2 {
      text-align: center;
  }

  .project-container>.reason-container {
      border: 1px solid #2c7853;
      padding: 1px 15px;
      line-height: 25px;
      cursor: pointer;
      width: 800px;
  }

  .project-container>.explanation-container {
      padding: 1px 15px;
      line-height: 30px;
      color: #2c7853;
      width: 800px;
      border-right: 1px solid #2c684b;
      border-bottom: 1px solid #2c684b;
      border-left: 1px solid #2c684b;
  }

  .project-container>.technologies-container>h3>span {
      color: rgb(129, 49, 98);
  }

  .project-container>.technologies-container>h3 {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(70, 1, 1);
      padding: 6px 15px;
  }

  .project-container>.next-link {
      display: inline;
      float: right;
      bottom: 0px;
      margin-top: 50px;
  }

  ::-moz-selection {
      /* Code for Firefox */
      background: #f7cbe5;
  }

  ::selection {
      background: #f7cbe5;
  }


  /* ===== Scrollbar CSS ===== */

  /* Firefox */

  * {
      scrollbar-width: thin;
      scrollbar-color: rgb(175, 74, 137);
  }

  /* Chrome, Edge, and Safari */

  *::-webkit-scrollbar {
      width: 11px;
  }

  *::-webkit-scrollbar-track {
      background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
      background-color: rgb(175, 74, 137);
      border-radius: 11px;
      border: 0
  }