  /* ===== HomePage CSS ===== */

  .home-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .text-emoji {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    padding: 0;
  }

  .text-emoji>img {
    margin-left: 7px;
  }